body {
	/* tout le texte écrit en petit et en noir */
  font-size: 14px; /* Resets 1em to 10px */
  font-family: "Trebuchet MS";/*"Trebuchet MS",'Lucida Grande', Verdana, Arial, Sans-Serif;*/
  color: #000000;
  line-height:1.4em;
  padding:5%;
  padding-top:2%;
  margin-left:35px;
  background-color:#FFFFFF;
}

/* Headings
----------------------------------------------- */
h1 { 
	/* nom sur la page home */
	margin:1em 0 .75em;
	font:28px "Trebuchet MS","Lucida Grande",Trebuchet,Arial,Verdana,Sans-serif;
	line-height:1.2em;
	font-weight:normal;
	color: #FF8C00; /*#F00;/*3b6ea5;*/
	letter-spacing:.15em;
}

/*
h2 { 
  margin:1em 0 .75em;
  font:26px "Trebuchet MS","Lucida Grande",Trebuchet,Arial,Verdana,Sans-serif;
  line-height:1.2em;
  font-weight:normal;
  color: #000000;
  letter-spacing:.15em;
}
*/

h3 {
	/* tous les sous-titres */
	margin:1em 0 .75em;
	line-height:1.2em;
	font-weight:bold;
	color: #FFA500; /*#F00;/*#03224C;*/
	letter-spacing:.15em;
	font-family: "Trebuchet MS", "Lucida Grande", Trebuchet, Arial, Verdana, Sans-serif;
	font-size: 24px;
}
/*
h4 {
  margin:1em 0 .75em;
  font:20px "Trebuchet MS","Lucida Grande",Trebuchet,Arial,Verdana,Sans-serif;
  line-height:1.2em;
  font-weight:normal;
  color:#0F056B;
  letter-spacing:.15em;
}

h5 {
  margin:1em 0 .75em;
  font:18px "Trebuchet MS","Lucida Grande",Trebuchet,Arial,Verdana,Sans-serif;
  line-height:1.2em;
  font-weight:normal;
  color:#0F056B;
  letter-spacing:.15em;
}


h6 {
  margin:1em 0 .75em;
  font:16px "Trebuchet MS","Lucida Grande",Trebuchet,Arial,Verdana,Sans-serif;
  line-height:1.2em;
  font-weight:normal;
  color:#0F056B;
  letter-spacing:.15em;
}
*/


a:link {
  color: #0000FF;
  text-decoration:none;
}


li a {
  color:#0000FF;
  text-decoration:none;
}


/* Menu */
#navigation {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}


#navigation li {
  display: inline;
  margin-right: 5px ;
    color: #000080;
}


#navigation li a {
	padding: 0px 20px;
	color: #000080;
	line-height: 3em;
	text-align: center;
	font-size: 24px;
	font-weight: bold
}


#main {
  position: relative;
  /*margin: auto;*/
  padding: 0px;
  /*width: 850px;*/
  width: 85%;
  background-color: #FFFFFF;
  /*border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;*/
  text-align:left;
}
